@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }

    .aspect-ratio-box img {
      height: calc(var(--aspect-height) *  0.3rem); /* Convert the aspect-height variable into pixels */
      width: calc(var(--aspect-width) *  0.3rem);  /* Convert the aspect-width variable into pixels */
    }
    
  }
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  
  #hamburger-nav {
    display: flex;
  }
  #profile{
    display: block;
  }
  #about,
  .section-container{
    display: block;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }

  #about, section {
    margin: 0 15% 0 -8%; /* 5% left margin, 10% right margin */
  }

  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 0 1rem 20%; /* No margin on the right, 10% on the left */
  }
}

  
@media screen and (max-width: 600px) {



  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}